// Add User 
.add-user {
	margin-top: 50px;
	label, input[type="text"] {
		text-align: center;
	}
	input[type="text"] {
		width: 100%;
		background: rgba(255,255,255,0.3);
		padding: 10px;
		min-height: 45px;
	}
	input[type="text"]:focus {
		background: #fff;
	}
}