<ion-view view-title="Rococo" class="">
<ion-content has-header="false" has-bouncing="false" class="confirm-order">
	<div class="row info-bar">
		<a class="col-50 cart-item-count" ui-sref="app.cart">
			<span class="badge badge-assertive">
				{{cartItems.length}}
			</span>
			<span>Item <br> Selected</span>
		</a>
		<div class="col-50">
			<span class="total-amount">{{totalAmount | currency:curSymbol.symbol}}</span>
			<span>Total Amount </span>
		</div>
	</div>
	<div class="padding">
		<form name="checkoutform" no-validate ng-submit="actionOrder()">
		  <label class="item item-input">
		      <div class="input-label">
		        Name
		      </div>
		     <input type="text" ng-model="checkout.name" name="name">
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Email
		      </div>
		     <input type="text" name="email" 
		     ng-model="checkout.email" 
		     ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" 
		     required>
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Phone
		      </div>
		     <input type="text" name="phone" 
		     ng-model="checkout.phone"
		     ng-pattern="/([0-9]{10})/"
		     required>
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Cupon Code
		      </div>
		     <input type="text" name="cupon" 
		     ng-model="checkout.cupon"
		     >
		  </label>
		  <label class="item item-input">
		      <div class="input-label">
		        Address
		      </div>
		     <input type="text" name="address" 
		     ng-model="checkout.address"
		     required>
		  </label>
		  <div class="padding">
		  	<button 
		  	class="button button-assertive" 		  	
		  	ng-disabled="checkoutform.$invalid">Confirm Order</button>
		  	<div class="alert success  fade checkout-alert"  ng-bind="message" ng-class="{active:messageShow}"></div>
		  </div>
		 
	</form>
	</div>
</ion-content>
</ion-view>