<ion-view view-title="Home" hide-nav-bar="true" class="ionview-with-patbg">
<ion-content has-header="false" has-bouncing="false">
	<div class="row">
		<div class="col">
			<img src="img/logo.png" class="app-logo" alt="Logo">
		</div>
	</div>	
	<div class="app-tag-line row">
		<div class="col">
			<img src="img/tag.png" alt="Tag">
			<span class="app-tag-text">at your fingertips!</span>
		</div>		
	</div>
	<div class="tag-food-dish row">
		<div class="col">
			<img src="img/food-dish.png" alt="Food Dish">
		</div>		
	</div>
</ion-content>
</ion-view>